.main_course_fullWidth {
    width: 100%;
    background-color: #D36833;
    padding: 40px 0;
  }


  .main_course_rating_content {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  .main_course_rating_content_title {
    text-align: center;
    color: #fff;
  }
  
  .main_course_rating_content_title h2 {
    font-size: 2.4em;
    margin-bottom: 20px;
  }
  
  .main_course_rating_content_comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .main_course_rating_content_comment>header {
    flex-basis: 100%;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  
  .main_course_rating_content_comment>article {
    flex-basis: calc(50% - 20px);
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    color: #333;
  }
  
  .main_course_rating_content_comment>article h3 {
    font-size: 1.2em;
    margin-bottom: 4px;
  }
  
  .main_course_rating_content_comment>article img {
    width: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
  }



  .main_course_rating_content_title {
    text-align: center;
    color: #fff;
  }
  
  .main_course_rating_content_title h2 {
    font-size: 2.4em;
    margin-bottom: 20px;
  }

  @media (max-width: 48em) {
  
    .main_course_rating_content_title h2 {
      font-size: 2em;
    }

    .main_course_rating_content_title h2 {
      font-size: 2em;
    }
  }


  @media (max-width:40em){
    .main_course_rating_content_title h2 {
      font-size: 1.6em;
    }
  }